.title {
    margin: 5px 0 25px 3px;    
}

.transaction {
    margin-bottom: 25px;
}
.transaction_status_indicator {
    background: var(--page-bg-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.transaction_details {
    height: 45px;
    flex: 0 0 83%;
    padding-right: 5px;
}
.transaction_details > * {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.transaction_details p {
    margin: 0;
    color: var(--white);
}

.transaction_name_status > small {
    color: var(--green);
}
.transaction_currency_date > p {
    font-weight: 600;
}
